
body {
    background-color: #1D1D20;
    font-size: 16px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    /* Agrega más estilos específicos para dispositivos móviles */
    .app {
        height: 50vh;
        display: flex;
    }

    .contentNav {
        height: 50vh;
    }
    .content {
        height: 50vh;
        display: flex;
        color: wheat;
    }
    .perfil{
margin: 0px 20px 0px 20px;
text-align: justify;
    }
    .learning {
        margin: 0px 20px 0px 20px;
        text-align: justify;

    }

}

/* Estilos para tablets y pantallas medianas */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .estado {
        display: flex;
    }

    .contenido {
        display: flex;
    }

    .contentNav {
        width: 40vw;
    }

    .content {
        width: 60vw;
        display: flex;
        color: wheat;
    }

    .perfil {
        margin: auto 30px auto 0px;
        text-align: justify;
    }

    .learning {
        margin: auto 30px auto 0px;
        text-align: justify;

    }

    .app {
        height: 100vh;
        display: flex;
    }

    /* Agrega más estilos específicos para tablets */
}

/* Estilos para escritorios y pantallas grandes */
@media (min-width: 769px) {
    body {
        font-size: 16px;
    }

    /* Agrega más estilos específicos para pantallas grandes */
    .estado {
        display: flex;
    }

    .contenido {
        display: flex;
    }

    .contentNav {
        width: 30vw;
    }

    .content {
        width: 70vw;
        display: flex;
        color: wheat;
    }

    .app {
        height: 100vh;
        display: flex;
    }


    .perfil {
        margin: auto 100px auto 0px;
        text-align: justify;
    }

    .lenguajes {
        margin: auto 100px auto 0px;
        text-align: justify;
    }

    .learning {
        margin: auto 100px auto 0px;
        text-align: justify;

    }
}